# Miscellaneous
*.log
*.swp
.DS_Store
Thumbs.db
.github/

# Visual Studio
.vs/
*.ldf
*.mdf
*.dll
*.exe

# Visual Studio Code
.vscode/
.settings/
*.code-workspace

# Node.JS
node_modules/
.npm/
npm-debug.log
yarn-error.log
package-lock.json

# Python
__pycache__/
dist/
build/
venv/
/pipenv/

# SASS
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Environment files
.env
.env.*
service-account.json

# .NET
*.*~
project.lock.json
*.pyc
nupkg/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Rider
.idea/