@import "reset";

// Color Palette
$primary: #3061a7;
$primary-hover: #29538e;
$secondary: rgb(80, 80, 80);
$textarea: #f0f0f0;

// Typography
$light: 400;
$regular: 500;
$bold: 900;

h1 {
    font-size: 2.25rem;
    text-align: center;
    padding: 1rem 0 1.25rem 0;
    font-weight: $bold;
    color: $primary;
}

p {
    font-weight: $regular;
}

// Placeholders
%button {
    border: none;
    border-radius: 3px;
    background-color: $primary;
    color: #fff;
    padding: 0.5rem 1.75rem;
    font-size: 1.2rem;
}

// Global
body {
    padding: 0 2.5rem;
    font-family: "Roboto", sans-serif;
    color: $secondary;
}

.container {
    margin: 0 auto;
}

// Header
header {
    margin-bottom: 1.5rem;
    p:nth-child(3) {
        margin: 0.75rem 0;
    }
    p {
        font-weight: $light;
    }
    #example {
        font-weight: $regular;
        display: inline-block;
        color: $primary;
    }
    #example:hover {
        cursor: pointer;
        color: $primary-hover;
    }
}

// Main
main {
    padding-bottom: 2rem;
}

#submit {
    @extend %button;
}

#submit:hover {
    background-color: $primary-hover;
}

textarea {
    width: 100%;
    margin-top: 0.125rem;
    min-height: 15vh;
    resize: none;
    font-size: 0.9rem;
    border-radius: 3px;
    padding: 0.4rem;
    background-color: $textarea;
}

#output-text textarea {
    padding-bottom: 2rem;
}

.textarea-label {
    font-weight: $regular;
}

#controls {
    margin: 0.5rem 0;
    line-height: 1.2;
    display: flex;
    #drop {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        select {
            width: 7rem;
        }
        option,
        select {
            font-size: 1rem;
            color: $secondary;
            text-align: center;
        }
    }
}

#summary,
#elapsed-time {
    text-align: right;
    display: block;
}

#elapsed-time {
    position: relative;
    top: -2rem;
    right: 1.5rem;
    color: #999999;
    font-weight: $light;
    font-size: 0.95rem;
}

button:hover {
    cursor: pointer;
}

#output {
    margin-top: 1.5rem;
}

@media screen and (min-width: 905px) {
    .container {
        max-width: 1100px;
    }

    main > div {
        display: flex;
        justify-content: space-between;
    }

    main > div > div {
        width: calc(50% - 0.75rem);
    }

    textarea {
        min-height: 50vh;
    }

    #output {
        margin-top: unset;
    }

    #controls {
        margin: 1rem 0;
    }

    #submit {
        margin-bottom: 2rem;
    }
}
